* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 55px;
}
body {
    overflow-y: scroll;
  }
/*--HEADER--*/
.header {
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(189, 39, 126);
    align-items: center;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, 
    rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    z-index: 99999;
    top: 0;
    position: sticky;
    height: 60px;

}
.site-title-container{
    display: flex;
    align-items: center;
}
.logo{
    height: 50px;
    width: 50px;
}
.site-title{
    font-weight: bold;
    font-size: 20px;
    color: #fffbd5;
    font-family: 'Bubblegum Sans';
    text-shadow: #34031bc6 5px 0 10px;
}
.menu{
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 20px;
}
.menu a {
    text-decoration: none; 
    color: #fffbd5;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-family: 'Bubblegum Sans';
  }
  
  .menu a:hover {
    background-color: #fffbd5;
    color: #c15487;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .menu a.active {
    background-color: #fffbd5;
    color: #c15487;
  }

/*---HERO---*/
.hero-container{
    top: 0;
    padding: 50px 100px;
    /*padding: 45px 150px;*/
    display: flex;
    align-items: center;
    background-image: url("assets/HomeBg.png");
    background-size: cover;
    height: 530px;
    /*flex-wrap: wrap;*/
}
.hero-left{
    width: 40%;
    /*flex-grow: 1;*/
    position: relative;
}
.pfp{
    height: 454px;
    width: 340px;
}
/*-----Hand Wave-----*/
.small-logo{
    position: absolute;
    left: -18px;
    top: 271px;
    height: 162px;
    width: 160px;
    animation: smolanim 4s linear infinite;
    transform-origin: 70% 70%;
}
@keyframes smolanim {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }

} 
/*---HERO---*/
.hero-right{
    /*flex-grow: 1;*/
    width: 60%;
}
.hero-heading{
    font-size: 72px;
    font-family: 'Bubblegum Sans';
    color: rgb(138, 24, 94);
    text-shadow: #e63a8da4 5px 0 5px;
}
.hero-sub-heading{
    padding: 20px 0;
    color: rgb(216, 65, 138);
    font-family: 'Bubblegum Sans';
    font-size: 30px;
}
.sheet-btn, .gal-btn{
    padding: 20px 30px;
    background-color: rgb(189, 39, 126);
    color: white;
    font-family: cursive;
    font-weight: bold;
    border-radius: 5%;
    border: none;
    box-shadow: 0px 5px 5px rgba(29, 14, 14, 0.349);
}
.hero-btn-cont{
    display: flex;
    align-items: center;
    gap: 15px;
}
.sheet-btn:hover, .gal-btn:hover {
    background-color: #fef9ac;
    color: rgb(208, 0, 94);
    box-shadow: 0px 5px 5px rgba(29, 14, 14, 0.349);
  }
.small-txt{
    margin-top: 20px;
    font-size: 20px;
    color: rgba(100, 16, 61, 0.426);
}
