* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
}
/* HEADER */
.header {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(166, 45, 133, 0.722), rgba(192, 80, 164, 0.6));
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  align-items: center;
  box-shadow: rgba(32, 2, 34, 0.338) 0 10px 5px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
}

.site-title-container {
  display: flex;
  align-items: center;
  text-shadow: #cb6d9a 0px 0 10px;
}

.logo {
  height: 50px;
  width: 50px;
}
/* MENU */
.site-title{
  text-decoration: none;
  font-size: 30px;
}
.site-title,
.menu {
  padding: 10px;
  font-weight: bold;
  color: #fffcfd;
  font-family: "Philosopher", serif;
}

.menu {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.menu a {
  text-decoration: none;
  color: #fefff7;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  }

.menu a:hover {
  background-color: rgba(203,109,154, 0.597);
  color: #fffbd5;
}
/* Only show background when explicitly clicked/active AND hovered */
.menu a.active:hover {
  background-color: rgba(203,109,154, 0.597);
  color: #fffbd5;
}

/* HOME CONTAINER AND HERO */
.home-container {
  background-image: url("assets/bgg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-top: 20px; 
}

.hero-container {
  padding: 40px 80px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-left {
  width: 45%;
  padding-top: 20px;
}

.lex {
  width: 100%; /* to Make image responsive */
  height: auto;
  max-width: 500px; /* Increased max-width for larger screens */
  max-height: 580px; /* Set a max-height to maintain aspect ratio */
  object-fit: contain; /* para makita buong image */
}

.hero-right {
  width: 55%;
}

.hero-heading {
  font-size: 60px;
  color: rgb(255, 247, 254);
  text-shadow: #200e16e7 8px 0 5px;
}

.hero-sub-heading {
  padding: 5px 0;
  color: rgb(216, 65, 138);
  font-size: 26px;
}


.proj-btn,
.cont-btn {
  padding: 15px 30px;
  background-color: rgb(189, 39, 126);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 5px 5px rgba(29, 14, 14, 0.349);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.proj-btn:hover,
.cont-btn:hover {
  background-color: #f2cbe0;
  color: #8f477b;
}

.hero-btn-cont {
  display: flex;
  gap: 15px;
}

.small-txt {
  margin-top: 20px;
  font-size: 16px;
  color: rgb(210, 65, 140);
}

section {
  padding: 20px 50px;
}

h2 {
  font-size: 36px;
  color: rgb(255, 44, 174);
  margin-bottom: 30px;
}


.footer-container {
  background-color: #3b395d;
  color: #fff;
  text-align: center;
  padding: 20px;
}


